- var datalink = "http://data.baltimoresun.com/PROJECTLINK/"
- var datalink = ""

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat|Droid+Serif|PT+Serif")
		link(rel="stylesheet" href=datalink + "css/font-awesome.css")
		link(rel="stylesheet", type="text/css", href=datalink + "css/style.css")

		//Facebook Stuff
		meta(property="og:title", content="")
		meta(property="og:url", content="")
		meta(property="og:image", content="")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="")
		meta(name="twitter:title", content="")
		meta(name="twitter:description", content="")
		meta(name="twitter:image", content="")
		meta(name="twitter:domain", content="baltimoresun.com")

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-body below.
		//- include includes/ad-for-header.html

	body
		//- This omniture file will also add a topnav.
		//- Remember to update the omniture tags
		include includes/omniture.html
		.container
			.title
				//- h1.headline 10 Up-and-coming
					| Baltimore Musicians
			.artistNavWrapper
				.artistNav
					.artistNav__num
						.floatLeft.headPhones
							i(class="fa fa-headphones" aria-hidden="true")
						.floatRight 1
					.artistNav__dropdown
						.artistNav__dropdown__currItem(data-id="0") Snail Mail
						.artistNav__dropdown__item.activeArtist(data-id="1") Snail Mail
						.artistNav__dropdown__item(data-id="2") :3LON
						.artistNav__dropdown__item(data-id="3") Bandhunta Izzy
						.artistNav__dropdown__item(data-id="4") YGG Tay
						.artistNav__dropdown__item(data-id="5") Post Pink
						.artistNav__dropdown__item(data-id="6") Peso Da Mafia
						.artistNav__dropdown__item(data-id="7") Lor Choc
						.artistNav__dropdown__item(data-id="8") Amy Reid
						.artistNav__dropdown__item(data-id="9") Us and Us Only
						.artistNav__dropdown__item(data-id="10") President Davo
					.artistNav__arrow
						i(class="fa fa-chevron-down" aria-hidden="true")
			.artist.artist--0
				.artist__text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat luctus lacus, id luctus augue fringilla non.
					p Phasellus vulputate, lorem vel lacinia placerat, nibh massa eleifend lorem, sed hendrerit elit augue at magna.
				.artist__pullQuote
					p
						span Sed sit amet tincidunt velit, in bibendum nisi.
				.artist__text
					p Donec lorem erat, volutpat sed erat fringilla, tempor mattis urna. Donec ultricies turpis nisi, vel gravida nunc maximus nec. Suspendisse ullamcorper magna erat, et bibendum lectus ultrices ut.
					p Sed sit amet tincidunt velit, in bibendum nisi.
				.artist__video
					.iframeWrapper
						iframe(width="100%" height="auto" src="https://www.youtube.com/embed/sMRHo7jDgyA?rel=0" frameborder="0" allowfullscreen)
				.artist__text
					p Morbi commodo rhoncus velit, imperdiet facilisis nulla tempor nec. Duis congue tempor nibh, sit amet volutpat metus eleifend quis.
					p Nunc hendrerit dui eget erat tristique, a auctor mi accumsan. Integer id metus maximus, dapibus ex ac, elementum mauris.
					p Aenean malesuada ac lorem vel sodales.
					p Nulla tortor sapien, vulputate eu dui nec, vestibulum venenatis dui.
					p Phasellus ac turpis eu tellus lacinia feugiat in sed sapien. Mauris vehicula purus a rhoncus bibendum.
				.artist__pullQuote
					p
						span Cras non nulla fermentum, vestibulum risus ac, facilisis nisl.
				.artist__text
					p Pellentesque ipsum dolor, ullamcorper sit amet tempor vitae, laoreet eget leo.
					p Etiam rutrum nunc vel sapien vehicula, vel tristique metus condimentum. Maecenas eu eleifend felis, id porta sapien. Etiam imperdiet ultrices ipsum, eu tempus nunc.
					p Etiam eget pellentesque nulla. Ut suscipit eleifend tortor vitae elementum.
					p Aenean egestas venenatis sem, vel ornare dui. Nullam facilisis in ex mollis volutpat.
					p Curabitur vestibulum ipsum at efficitur gravida. Praesent at mauris euismod, cursus magna et, eleifend orci.
				.artist__photo
					.stripes
					img(src=datalink + "/images/photo0-0.jpg")
				.artist__text
					p Proin suscipit placerat dolor, vitae consectetur turpis dapibus non.
					p Etiam in venenatis ex, ac sodales nibh. Proin bibendum aliquam magna, in consequat lorem blandit id.
					p Proin finibus lorem turpis, non pretium erat suscipit congue. Mauris consequat ante ac tincidunt posuere.
					p Quisque gravida eu dolor sed varius. Duis finibus blandit orci, vel venenatis leo posuere nec.
					p Donec cursus nunc metus, nec hendrerit mauris tempor id. Vestibulum mollis dolor sed tortor rhoncus, id ullamcorper velit imperdiet.
					p Phasellus semper dictum nisl sed.




		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-header above.
		//- #leaderboard
			include includes/ad-for-body.html

		//Javascript
		script(src=datalink + "js/min/jquery-3.0.0.min.js")
		script(src=datalink + "js/app.js")
		//- script(src=datalink + "js/min/app.min.js")

